/* General Styling */
:root {
    --teritary-color: #E55812;
    --feature-bg-color: #fed766ff;
    --secondary-color: #303633ff;
    --contrast-color-1: #B3B6BB;
    --contrast-color-2: #f4f4f8ff;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    margin-top:0;
    margin-bottom: 5px;
    
}




nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    background-color: var(--teritary-color);
    color: var(--secondary-color);
    padding: 0.7em 0.7em;
    
}

#burger-button {
    width: 1.75em;
}

#dropdown-nav-menu {
    display: none;
}

#nav-links {
    display: none;
}

#dropdown-nav-menu a{
    color: var(--secondary-color);
    background-color: var(--contrast-color-1);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    text-align: center;
}

#dropdown-nav-menu a:nth-child(even){
    color: var(--secondary-color);
    background-color: var(--contrast-color-2);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  text-align: center;
}

#dropdown-nav-menu ul{
    margin:0;
    padding: 0;
}



.logo {
    width: 200px;
}

.navbar a{
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: none;
    color: white;
}





@media only screen and (min-width:768px) and (max-width: 1440px){
    #nav-links {
        display: block;
    }
    
    #burger-button{
        display: none;
    }

    #nav-links a{
        margin-left: 50px;
        margin-right: 50px;
        text-decoration: none;
        color: var(--contrast-color-2);
    }

    #nav-links a:hover{
        color: var(--secondary-color);
    }

    #dropdown-nav-menu ul{
        margin:0;
        padding: 0;
    }
}




/* Homepage Styling */

.home-container{
    display: flex;
    flex-direction: column;
    
}

@media only screen and (min-width:768px) and (max-width: 1440px){
    .home-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding:2em;
    }
    .question-intro-container{
        width: 30%;
        border-radius: 25px;
        
    }

    .question-intro-container:hover {
        transform: scale(1.1);
    }
}

.question-intro-container{
    background-color: white;
    
}



.question-intro-container:nth-of-type(odd) {
    background-color: var(--feature-bg-color);
}

.question-intro-container:nth-of-type(even) {
    background-color: var(--contrast-color-1);
}

.question-intro-image{
    display: flex;
    justify-content: center;
}

.question-intro-image img{
    height: 160px;
    
    
}

.question-intro-text{
    margin-top:0;
    font-size: 1.5em;
    text-align: center;
}
.question-intro-text p{
    margin-top:0;
}

.intro{
    text-align: center;
    background-color: white;
    padding: 1em;
}

.intro h2{
    margin:0;
}

.intro p{
    margin:0;
    
}

/* About styling */


.how-its-made{
    background-color: var(--feature-bg-color);
    padding: 2em;
}

.how-its-made-image-container{
    display: flex;
    justify-content: center;
}

.how-its-made-image-container img{
    width: 90%;
    max-width: 800px;
    height: auto;
}


.history{
    padding-bottom: 1.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: var(--contrast-color-1);
    padding: 2em;
}


.responsive-youtube{
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    
    
}

.responsive-youtube iframe{
    left: 0;
    top: 0;
    height: 100%;
    width:100%;
    position: absolute;

}

.health{
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: var(--contrast-color-1);
    padding: 2em;
}

.health-table-container{
    display: flex;
    justify-content: center;
}
.health-table {
    border-collapse: collapse;
    margin: 2px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 350px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    width: 80%;
    background-color: white;
    
    
}

.health-table thead tr {
    background-color: var(--feature-bg-color);
    color: var(--secondary-color);
    text-align: center;
    
}

.health-table th, .health-table td {
    padding: 12px 2px 12px 2px;
    
    
  
}

.health-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.health-table tbody tr:nth-of-type(even) {
    background-color: var(--contrast-color-2);
}


@media only screen and (min-width:768px) and (max-width: 1440px){
    .how-its-made, .health, .history{
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        margin:20px;
        
    }
}



/* Map styling  */

.map{
    border: 2px solid var(--secondary-color);
    border-radius: 25px;
    padding: 1em;
   
    background-color: var(--contrast-color-2);
}

.map-container{
    background-color: var(--feature-bg-color);
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items:  center;
}

.map-container h2{
   text-align: center;
}

#map-of-europe {
    width: 100%;
    fill: var(--teritary-color);
}

#instruction-desktop{
    display: none;
}

.UK, .DE, .GR, .NE .FR, .PO, .NW, .IT, .SP, .SW{
    fill: var(--secondary-color);
}
.mobile-tooltip-container{
    border: 2px solid var(--secondary-color);
    border-radius: 25px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    background-color: white;
}


.tooltip {
    display: none;
}

#mobile-tooltip-container-cheeselogo {
    width: 150px;
    
}
.mobile-tooltip-outer-container{
    background-color: var(--contrast-color-1);
    padding: 2em;
    display: flex;
    justify-content: center;
}


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
  }
  

@media only screen and (min-width:768px) and (max-width: 1440px){
    #map-of-europe{
        height: 600px;
    }
    .map{
        width:600px;
        
    }

    .map-container{
        display: flex;
        justify-content: center;

    }

    #instruction-mobile{
        display: none;
    }
    
    #instruction-desktop{
        display: block;
    }

    .UK:hover, .DE:hover, .GR:hover, .NE:hover, .FR:hover, .PO:hover, .NW:hover, .IT:hover, .SP:hover, .SW:hover{
        fill: var(--contrast-color-1);
    }

    .mobile-tooltip-container {
        display: none;
    }

    .tooltip {
        display: block;
    }
}



/* Portfolio styling */


.cheese-card-container{
    background-color: var(--feature-bg-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.cheese-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: white;
    
}

.cheese-card-image{
    display: flex;
    justify-content: center;
}

#parm{
    margin-bottom:52px;
    margin-top: 52px;
}

#stilt{
    margin-bottom:42px;
    margin-top: 42px;
}

#oscy{
    margin-bottom:50px;
    margin-top: 50px;
}

.cheese-card-image img{
    max-width:250px;
}

.cheese-card-text h2{
    margin-top:0;
}

.cheese-card-text {
    text-align: center;
}

.cheese-card-table-container{
    display: flex;
    justify-content: center;
}

.cheese-card-table {
    border-collapse: collapse;
    margin: 2px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-bottom: 25px;
    width: 70%;
    

    
}

.cheese-card-table th{
    background-color: var(--contrast-color-1);
    color: black;
    text-align: center;
    
    
}

.cheese-card-table th, .cheese-card-table td {
    padding: 12px 10px;
    
    
  
}

.cheese-card-table tbody tr {
    border-bottom: 1px solid #dddddd;
    text-align: center;
}

@media only screen and (min-width:768px) and (max-width: 1440px){
    .cheese-card-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .cheese-card-table-container{
        padding: 1em;
    }

}


